
  .theme-toggle-container {
    margin-bottom: 2.5rem;
    margin-right: 2rem;

  }
  .theme-lable{
    position: relative;
  }
  .theme-lable input {
    display: none;
  }
  
  .theme-lable .slider {
    width: 3rem;
    height: 1.5rem;
    background-color: #774971;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.4s;
    position: absolute;
  }
  
  .theme-lable .slider:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: transform 0.4s;
  }
  
  .theme-lable input:checked + .slider {
    background-color: #000000d4;
  }
  
  .theme-lable input:checked + .slider:before {
    transform: translateX(1.6rem);
  }
  