/* ::-webkit-scrollbar {
    display: none;
  } */

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .chat-bubble:before {
    position: absolute;
    bottom: 0px;
    height: 0 !important;
     width: 0 !important;
    }